html {
    height: 100%;
    margin: 0; padding: 0; border: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #949494;
}
body {
    
    margin: 0px auto auto auto;
	width: 100%;
	min-width: 320px;
	background-color: white;
	
}

/*navigation settings*/
body > header {
    border-bottom: 1px solid #ededed;
    box-shadow: 10px 3px 5px #ededed;
}
body > header > nav {
    background:white;
    font-size: 14px;

    width: 100%;
    height: auto;
}
body > header > nav > ul > li {
    color: black;
    list-style: none;
    padding-left: 10px;
    margin: 6px;
    margin-top: 20px;
    overflow: hidden;
    border-left: 2px solid #949494;
    transition: background 2s;
    transition: letter-spacing 2s;
}
body > header > nav > ul > li > a {
    text-decoration: none;
    color: #949494;
    transition: color 0.5s;
}
body > header > nav > ul > li > a:hover {
    text-decoration: none;
    color: grey;
}
body > header > nav > ul > li:hover {
    background: #f2f2f2;
    opacity: 20%;
    letter-spacing: 2px;
    color: grey;
}
body > header > nav > figure {
    display: block;
    float: left;
    margin-top: 10px;  
}
body > header > nav > figure > img {
    width: 200px;
    height: auto;
    margin-top: -15px;
}

/*reviews settings*/
body > .review {
    padding: 5px;
    background-color: white;



}
body > .all_reviews> .review > p {
    font-size: 16px;
}
body > .all_reviews> .review > h3 {
    color: blue;
    /*this is a place holder color*/
}
body > .game_overview {
background: white;
padding:5px;
width: 500px;
margin-top: 3.5%;
}

body > .game_overview > ul {
    background: white;
    padding: 5px;
    list-style: none;
    margin-left: 100px;
    }

body > .game_overview > ul > li {
    padding: 10px;
        }
body > .game_overview > figure> img {
    float: left;
    width: 150px;
    height: auto;
}

body > .game_overview > section {
   
    padding: 10px;
    margin-top: -30px;
}

body > .all_reviews {
    margin-left:35%;
    width: 750px;
    margin-top: -15.75%;
}

/*home page settings*/

body > article {
    padding: 50px;
    width: 75%;
    color: #757575;
}
body > article > h4 {
    color: #757575;

}
body > footer {
    margin-top: 5%;
    padding-top: 1px;
    text-align: center;
    border-top: 1px solid #f2f2f2;
    color: #949494;
}